<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Mon CV</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="cv">

    <div class="header {{ theme }}">

        {% if photo %}
        <img
            src="{{ url_for('static', filename='uploads/' + photo) }}"
            class="photo"
        >
        {% endif %}

        <h1>{{ prenom }} {{ nom }}</h1>

        <p>{{ email }}</p>
        <p>{{ telephone }}</p>
        <p>{{ adresse }}</p>

    </div>

    <div class="content">

        <div class="section">
            <h2>👤 Profil</h2>
            <p>{{ profil }}</p>
        </div>

        <div class="section">
            <h2>💻 Compétences</h2>
            <p>{{ competences }}</p>
        </div>

        <div class="section">
            <h2>🏢 Expérience</h2>
            <p>{{ experience }}</p>
        </div>

        <div class="section">
            <h2>🎓 Formation</h2>
            <p>{{ formation }}</p>
        </div>

        <div class="section">
            <h2>🌍 Langues</h2>
            <p>{{ langues }}</p>
        </div>

        <div class="section">
            <h2>🎯 Centres d'intérêt</h2>
            <p>{{ interets }}</p>
        </div>

        <div class="download">

            <a href="/pdf">
                ⬇️ Télécharger le PDF
            </a>

        </div>

    </div>

</div>

</body>
</html>